.menu {
  background: rgba(8, 0, 0, 0.85);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(8.5px);
  -webkit-backdrop-filter: blur(8.5px); }

.pie {
  justify-items: left;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #181717;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: white; }

body {
  background: #342863;
  background: linear-gradient(0deg, #342863 0%, #220034 45%, #1c1c1c 100%); }

.parrafo {
  margin: 0px;
  padding-top: 10px;
  padding-left: 25px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: medium;
  color: white; }
