@import 'colors.scss';
@import 'header.scss';
@import 'footer.scss';


// Mapa de tamaños para las fuentes
$font-sizes: ("chica": 12px, "mediana": 18px, "grande": 24px);

// Mixin para color de fondo de párrafos
@mixin tema($fondo: DarkGray) {
  background: $fondo;
  box-shadow: 0 0 1px rgba($fondo, .25);
  color: #ffffff;
}

.parrafo_gris {
  @include tema;
}
.parrafo_rojo {
  @include tema($fondo: DarkRed);
}
.parrafo_verde {
  @include tema($fondo: DarkGreen);
}

body {
    background: rgb(52,40,99);
    background: linear-gradient(0deg, $gradient-init 0%, $gradient-middle 45%, $gradient-end 100%);
}

%parrafo {
    margin: 0px;
    padding-top: 10px;
    padding-left: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: map-get($font-sizes, "chica");
    color: $primary-color;
}

// Extend para distinta alineación de texto
.parrafo {
    @extend %parrafo;
}

.parrafo_al_centro {
    @extend %parrafo;
    text-align: center;
}

.parrafo_a_la_derecha {
    @extend %parrafo;
    border: 5px gray;
    text-align: right;

}
