.pie {
    justify-items: left;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgb(24, 23, 23);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:$primary-color;
}